    table
        {
          height: 25px;
          width: 100%;
          background-color:rgb(0, 57, 22);
          color:white;
          margin:0 0 0 0 ;
          padding:0 0 0 0 ;
        }
        tbody
        {
          width:100% ;
          margin:0 0 0 0 ;
          padding:0 0 0 0 ;    
        }
        tr
        {
          width:100%;
          margin:0 0 0 0 ;
          padding:0 0 0 0 ;  
        }
        td
        {
           width:14%;  
        }
        body
        {
          background-color: white ;
        }
        a.c1
        {
          color:red; 
          text-decoration: none;
        }
        a.c1:visited
        {
          color:blue; 
          text-decoration: none;
        } 
        a.c2
        {
          color:blue; 
          text-decoration: none ;
        }
        a.c2:visited
        {
          color:red; 
          text-decoration: none ;
        }
        h2.c3
        {
             color:yellow;
        }
        h2.c4
        {
             color:rgb(115,81,132);
       }
        button
 		{
 	    z-index: 0;
 		background-color:green;
        width:200px;
        height:35px;
        color:green;
        border-radius:40px;
        border:10px;
        border-color: green;
        position: absolute;
        left:700px;
        right:500px;
        }
        form
        {
          border: 3px solid green;
          text-align: center;
          margin-left:calc(30vw);
          margin-right: calc(30vw);
          background-color: green;
          border-radius: 30px ;
          
        }
        header
        {
          display:flex ;
          justify-content:space-between;
          background-color: rgb(0, 0, 0);
          align-items:center;
        }
        footer 
        {
          background-color: white;
        }
        #grid
        {
          min-height: 500px;
          display:grid;
          grid-template-areas: 
          'one one one three three'
          'one one one four four '
          'two two two four four'
          'two two two five five';
          grid-gap: 5px;
        }
        #grid1 {grid-area:one;}
        #grid2 {grid-area:two;}
        #grid3 {grid-area:three;}
        #grid4 {grid-area:four;}
        #grid5 {grid-area:five;}
        input:focus
        {
          background-color: greenyellow;
        }