table
        {
          height: 25px;
          width: 100%;
          background-color:rgb(253, 213, 237);
          color:white;
          margin:0 0 0 0 ;
          padding:0 0 0 0 ;
        }
        tbody
        {
          width:100% ;
          margin:0 0 0 0 ;
          padding:0 0 0 0 ;    
        }
        tr
        {
          width:100%;
          margin:0 0 0 0 ;
          padding:0 0 0 0 ;  
        }
        td
        {
           width:16%  ;
        }
        body
        {
          background-color: white ;
        }
        a.c1
        {
          color:rgb(255, 255, 255);
          text-decoration:none;
        }
        a.c1:visited
        {
          color:rgb(241, 68, 0);   
          text-decoration:none;
        } 
        a.c2
        {
          color:blue; 
          text-decoration: none ;
        }
        a.c2:visited
        {
          color:red; 
          text-decoration: none ;
        }
        a.info
        {
          text-align: center;
          padding: 0 20px 10px 20px;
          color : rgb(99, 0, 0)
        }
        h2.c3
        {
          color:yellow;
        }
        h2.c4
        {
          color:rgb(115,81,132);
        }
        h2.red
        {
          font-size: 20px;
        }
        button
 		   {
 	      z-index: 0;
 		    background-color:red;
        width:261px;
        height:60px;
        color:red;
        border-radius:40px;
        border:10px;
        border-color:red;
        position: absolute;
        left: 780px;
        top:500px;
        }
        footer
        {
         margin: 30px 10% 0 10%;
         color:white
        }
        hr
        {
          color: white;
        }
        p.123
        {
          color: white;
        }