    table
        {
          height: 25px;
          width: 100%;
          background-color:rgb(0, 57, 22);
          color:white;
          margin:0 0 0 0 ;
          padding:0 0 0 0 ;
        }
        tbody
        {
          width:100% ;
          margin:0 0 0 0 ;
          padding:0 0 0 0 ;    
        }
        tr
        {
          width:100%;
          margin:0 0 0 0 ;
          padding:0 0 0 0 ;  
        }
        td
        {
           width:14%;  
        }
        body
        {
          background-color: white ;
        }
        a.c1
        {
          color:red; 
          text-decoration: none;
        }
        a.c1:visited
        {
          color:blue; 
          text-decoration: none;
        } 
        a.c2
        {
          color:blue; 
          text-decoration: none ;
        }
        a.c2:visited
        {
          color:red; 
          text-decoration: none ;
        }
        h2.c3
        {
             color:yellow;
        }
        h2.c4
        {
             color:rgb(115,81,132);
       }
        button
 		{
 	    z-index: 0;
 		background-color:green;
        width:200px;
        height:35px;
        color:green;
        border-radius:40px;
        border:10px;
        border-color: green;
        position: absolute;
        left:700px;
        right:500px;
        }
        form
        {
          border: 3px solid green;
          text-align: center;
          margin-left:calc(30vw);
          margin-right: calc(30vw);
          background-color: green;
          border-radius: 30px ;
          
        }
        
        .form-wrap{width: 320px; background: rgb(250, 0, 0); padding:40px 20px;}
        h1{text-align: center; color:#fff; font-weight: normal;margin-bottom: 20px; }

        input{width: 100%; background: none ; border: 1px solid #fff; border-radius: 3px;padding: 6px; }

        input[type="button"]{background :#bac675; border: 0;cursor: pointer; color:#3e3d3d ;}
        input[type="button"]:hover{ background:#a4b15c ;transition: .6s;}

        ::placeholder{color: #fff;}